<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"anchor":"primary-content","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--xl)","top":"var(--wp--custom--spacing--lg)"}}}} -->
<main class="wp-block-group" id="primary-content">
<!-- wp:post-title {"textAlign":"left","level":1,"style":{"typography":{"fontSize":"clamp(2.2rem, 1.8rem + 1vw, 3rem)","fontWeight":"700"},"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--sm)"}}}} /-->
<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--md)"}}}} /-->
<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"var(--wp--custom--container--narrow)"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
